grails-app/conf/data/OnLineAgenda.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://www.corilus.be/OnlineAgenda"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.corilus.be/OnlineAgenda"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:import schemaLocation="http://pharmaupdate8.corilus.be/OnLineAgenda/OnlineAgenda.xsd"
                  namespace="http://www.corilus.be/OnlineAgenda" />
    </wsdl:types>
    <wsdl:message name="GetPersonsSoapIn">
        <wsdl:part name="parameters"
                   element="tns:GetPersonsRequest" />
    </wsdl:message>
    <wsdl:message name="GetPersonsSoapOut">
        <wsdl:part name="parameters"
                   element="tns:GetPersonsResponse" />
    </wsdl:message>
    <wsdl:message name="GetPersonsSynchronizationConfirmationSoapIn">
        <wsdl:part name="parameters"
                   element="tns:GetPersonsSynchronizationConfirmationRequest" />
    </wsdl:message>
    <wsdl:message name="GetPersonsSynchronizationConfirmationSoapOut">
        <wsdl:part name="parameters"
                   element="tns:GetPersonsSynchronizationConfirmationResponse" />
    </wsdl:message>
    <wsdl:message name="GetRemoteAppointmentsSoapIn">
        <wsdl:part name="parameters"
                   element="tns:GetRemoteAppointmentsRequest" />
    </wsdl:message>
    <wsdl:message name="GetRemoteAppointmentsSoapOut">
        <wsdl:part name="parameters"
                   element="tns:GetRemoteAppointmentsResponse" />
    </wsdl:message>
    <wsdl:message name="GetRemoteAppointmentsSynchronizationConfirmationSoapIn">
        <wsdl:part name="parameters"
                   element="tns:GetRemoteAppointmentsSynchronizationConfirmationRequest" />
    </wsdl:message>
    <wsdl:message name="GetRemoteAppointmentsSynchronizationConfirmationSoapOut">
        <wsdl:part name="parameters"
                   element="tns:GetRemoteAppointmentsSynchronizationConfirmationResponse" />
    </wsdl:message>
    <wsdl:message name="GetRemoteServerTimeSoapIn">
        <wsdl:part name="parameters"
                   element="tns:GetRemoteServerTimeRequest" />
    </wsdl:message>
    <wsdl:message name="GetRemoteServerTimeSoapOut">
        <wsdl:part name="parameters"
                   element="tns:GetRemoteServerTimeResponse" />
    </wsdl:message>
    <wsdl:message name="GetWaitingRoomSoapIn">
        <wsdl:part name="parameters"
                   element="tns:GetWaitingRoomRequest" />
    </wsdl:message>
    <wsdl:message name="GetWaitingRoomSoapOut">
        <wsdl:part name="parameters"
                   element="tns:GetWaitingRoomResponse" />
    </wsdl:message>
    <wsdl:message name="PushLocalAppointmentsSoapIn">
        <wsdl:part name="parameters"
                   element="tns:PushLocalAppointmentsRequest" />
    </wsdl:message>
    <wsdl:message name="PushLocalAppointmentsSoapOut">
        <wsdl:part name="parameters"
                   element="tns:PushLocalAppointmentsResponse" />
    </wsdl:message>
    <wsdl:message name="PushPersonsSoapIn">
        <wsdl:part name="parameters"
                   element="tns:PushPersonsRequest" />
    </wsdl:message>
    <wsdl:message name="PushPersonsSoapOut">
        <wsdl:part name="parameters"
                   element="tns:PushPersonsResponse" />
    </wsdl:message>
    <wsdl:message name="PushTypeAppointmentsSoapIn">
        <wsdl:part name="parameters"
                   element="tns:PushTypeAppointmentsRequest" />
    </wsdl:message>
    <wsdl:message name="PushTypeAppointmentsSoapOut">
        <wsdl:part name="parameters"
                   element="tns:PushTypeAppointmentsResponse" />
    </wsdl:message>
    <wsdl:message name="CheckVersionSoapIn">
        <wsdl:part name="parameters"
                   element="tns:CheckVersion" />
    </wsdl:message>
    <wsdl:message name="CheckVersionSoapOut">
        <wsdl:part name="parameters"
                   element="tns:CheckVersionResponse" />
    </wsdl:message>
    <wsdl:message name="InitialisePersonsSoapIn">
    	<wsdl:part name="parameters" 
                   element="tns:InitialisePersonsRequest" />
    </wsdl:message>
    <wsdl:message name="InitialisePersonsSoapOut">
    	<wsdl:part name="parameters"
                   element="tns:InitialisePersonsResponse" />
    </wsdl:message>
    <wsdl:message name="InitialiseAppointmentsSoapIn">
    	<wsdl:part name="parameters" 
                   element="tns:InitialiseAppointmentsRequest" />
    </wsdl:message>                   
    <wsdl:message name="InitialiseAppointmentsSoapOut">
    	<wsdl:part name="parameters"
                   element="tns:InitialiseAppointmentsResponse" />
    </wsdl:message>
    <wsdl:portType name="IOnLineAgendaService">
        <wsdl:operation name="GetPersons">
            <wsdl:input message="tns:GetPersonsSoapIn" />
            <wsdl:output message="tns:GetPersonsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="GetPersonsSynchronizationConfirmation">
            <wsdl:input message="tns:GetPersonsSynchronizationConfirmationSoapIn" />
            <wsdl:output message="tns:GetPersonsSynchronizationConfirmationSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="GetRemoteAppointments">
            <wsdl:input message="tns:GetRemoteAppointmentsSoapIn" />
            <wsdl:output message="tns:GetRemoteAppointmentsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="GetRemoteAppointmentsSynchronizationConfirmation">
            <wsdl:input message="tns:GetRemoteAppointmentsSynchronizationConfirmationSoapIn" />
            <wsdl:output message="tns:GetRemoteAppointmentsSynchronizationConfirmationSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="GetRemoteServerTime">
            <wsdl:input message="tns:GetRemoteServerTimeSoapIn" />
            <wsdl:output message="tns:GetRemoteServerTimeSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="GetWaitingRoom">
            <wsdl:input message="tns:GetWaitingRoomSoapIn" />
            <wsdl:output message="tns:GetWaitingRoomSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="PushLocalAppointments">
            <wsdl:input message="tns:PushLocalAppointmentsSoapIn" />
            <wsdl:output message="tns:PushLocalAppointmentsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="PushPersons">
            <wsdl:input message="tns:PushPersonsSoapIn" />
            <wsdl:output message="tns:PushPersonsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="PushTypeAppointments">
            <wsdl:input message="tns:PushTypeAppointmentsSoapIn" />
            <wsdl:output message="tns:PushTypeAppointmentsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="CheckVersion">
            <wsdl:input message="tns:CheckVersionSoapIn" />
            <wsdl:output message="tns:CheckVersionSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="InitialisePersons">
        	<wsdl:input message="tns:InitialisePersonsSoapIn"></wsdl:input>
        	<wsdl:output message="tns:InitialisePersonsSoapOut"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InitialiseAppointments">
        	<wsdl:input message="tns:InitialiseAppointmentsSoapIn"></wsdl:input>
        	<wsdl:output message="tns:InitialiseAppointmentsSoapOut"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OnLineAgendaServiceSoap"
                  type="tns:IOnLineAgendaService"
                  style="document">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document" />
        <wsdl:operation name="GetPersons">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/GetPersons"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPersonsSynchronizationConfirmation">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/GetPersonsSynchronizationConfirmation"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetRemoteAppointments">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/GetRemoteAppointments"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetRemoteAppointmentsSynchronizationConfirmation">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/GetRemoteAppointmentsSynchronizationConfirmation"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetRemoteServerTime">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/GetRemoteServerTime"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWaitingRoom">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/GetWaitingRoom"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushLocalAppointments">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/PushLocalAppointments"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushPersons">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/PushPersons"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PushTypeAppointments">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/PushTypeAppointments"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckVersion">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/CheckVersion"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InitialisePersons">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/InitialisePersons"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InitialiseAppointments">
            <soap:operation soapAction="http://www.corilus.be/OnlineAgenda/InitialiseAppointments"
                            style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OnLineAgendaService">
        <wsdl:port name="OnLineAgendaServiceSoap"
                   binding="tns:OnLineAgendaServiceSoap">
            <soap:address location="http://pharmaupdate8.corilus.be/onlineagenda/onlineagendaservice.svc" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>